# Task1– Mean, Median & Mode

#### Q1 
Mean =
Number of scores /
Sum of scores
	​


Sum = 5+8+10+12+12+12+13+14+14+15+16+18+18+20+20
= 207

Number of scores = 15

Mean=20715=13.8
Mean=
15
207
	​

=13.8

Median

For 15 scores (odd number), median = middle value = 8th score (when sorted).

8th score = 14

Mode

Most frequent score = 12 (appears 3 times).

Correction (lowest score 5 should be 10)

New scores: replace 5 with 10.

New sum = 
207−5+10=212

New Mean =
15/212
=14.13

Median: Still 14 (middle value doesn’t change).

Mode: Still 12 (frequency of 12 doesn’t change).

Mean increases (from 13.8 → 14.13).

so, the Median unchanged and Mode unchanged.

#### Q2
Mean is
Sum = 
15+20+20+25+25+30+60+65+120=380

Number of students = 9

Mean= 380
Mean= 380/9 = 42.2

Median is
9 scores → 5th score = 25

Mode

Most frequent values: 20 and 25 (both appear twice).

Best Representation

The student with 120 minutes is an outlier, making the mean misleading (too high).
Median (25) or mode (20 & 25) better represent the “typical” commute.

So, Median = 25 minutes is the best measure.

#### Q3
Mode

Count frequencies:

37 → 1

38 → 3

39 → 4

40 → 3

41 → 2

42 → 2

Most frequent = 39

Mode = 39

If shoe company donates free shoes

They should produce size 39, since most students wear it.

If only one size for the “average” student

Mean would give a non-integer (between 39–40).

Median and Mode are actual shoe sizes students wear.

Since shoes must fit real sizes, Mode (39) or Median is more practical.

Best choice: Mode (39) because it represents the most common actual size.